@model Consultants.Models.UserAccount

@{
    ViewBag.Title = "שינוי סיסמא";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-responsive.css" />
    <title></title>
</head>

<body>
    <div class="container center-page">
        <div class="row">
            <div id="content-login" class="col-lg-offset-5">
                <h2>שינוי סיסמא</h2>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()


                    <hr />
                 

                    <div class="row">

                    
                        <div class="col-lg-15">
                          
                        
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { type = "text", placeholder = "שם משתמש", id = "username", required = "" } })
                            <br />
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { type = "text", placeholder = "סיסמא", id = "password", required = "" } })
                            <br />
 
                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { type = "text", placeholder = "אישור סיסמא", id = "password", required = "" } })
                            <br />
                            <input type="text"  placeholder = "סיסמא חדשה" name="New Password" size"40" />
                      </div>
                        </div>

                   


                    
                        <div class="row right-buttons-changePassword">
                            <input type="button" value="חזור" onclick="location.href='@Url.Action("LoggedIn","account")'" }) />
                            <input type="submit" value="שנה סיסמא" />
                         

                        </div>
               

                }

 
            </div>
        </div>
    </div>
</body>
  </html>
