@model Consultants.Models.ConsultantsAccount

@{
    ViewBag.Title = "רישום למאגר כיועץ";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-responsive.css" />
    <!-- Ignite UI Required Combined CSS Files -->
    <link href="http://cdn-na.infragistics.com/igniteui/2017.1/latest/css/themes/infragistics/infragistics.theme.css" rel="stylesheet" />
    <link href="http://cdn-na.infragistics.com/igniteui/2017.1/latest/css/structure/infragistics.css" rel="stylesheet" />

    <script src="http://ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.8.3.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>

    <!-- Ignite UI Required Combined JavaScript Files -->
    <script src="http://cdn-na.infragistics.com/igniteui/2017.1/latest/js/infragistics.core.js"></script>
    <script src="http://cdn-na.infragistics.com/igniteui/2017.1/latest/js/infragistics.lob.js"></script>
    <title>הרשמה כיועץ</title>

    <script>

        

        var colors = [
            { Name: "jQuery/HTML5/ASP.NET MVC Controls" },
            { Name: "ASP.NET Controls" },
            { Name: "Windows Forms Controls" },
            { Name: "WPF Controls" },
            { Name: "Android Native mobile controls" },
            { Name: "iOS Controls" },
            { Name: "SharePlus" },
            { Name: "ReportPlus" },
            { Name: "Indigo Studio" }
        ];

        $(function () {
         
            $("#checkboxSelectCombo").igCombo({
                width: 300,
                dataSource: colors,

                textKey: "Name",
                valueKey: "Name",
                multiSelection: {
                    enabled: true,
                    showCheckboxes: true
                },
                dropDownOrientation: "bottom"
            });
            $('#pictureButton').click(function () {
                jQuery.get('counsilSubjectsTxt.txt', function (data) {
                    alert(data);
                    //process text file line by line
                    
                });

            });

        });
        
       
    </script>

</head>



<body>
   
            <div id="content-reg" class="col-lg-offset-3">
               
               
             
                <input class="myButton" id="pictureButton" type="button" value="הוספת תמונה" />

                <h1>הרשמה כיועץ</h1>
              
                @using (Html.BeginForm("ConsultantsRegister", "account", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
               

                    <div class="row">
                        <div class="col-lg-6">
                       
                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { type = "text", placeholder = "שם פרטי", id = "username", required = "" } })
                            <br />
                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { type = "text", placeholder = "שם משפחה", id = "username", required = "" } })
                            <br />
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { type = "text", placeholder = "אימייל", id = "username" } })
                            @Html.ValidationMessageFor(model => model.Email)
                            <br />
                            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { type = "text", placeholder = "מספר פלאפון", id = "username", required = "" } })
                            <br />
                            @Html.EditorFor(model => model.HomePhone, new { htmlAttributes = new { type = "text", placeholder = "מספר טלפון בבית", id = "username", required = "" } })
                            <br />
                            @Html.EditorFor(model => model.Fax, new { htmlAttributes = new { type = "text", placeholder = "מספר פקס", id = "username", required = "" } })
                            <br />
                           
                            <br />
                        </div>

                        <div class="col-lg-6">
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { type = "text", placeholder = "שם משתמש", id = "username", required = "" } })
                            <br />
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { type = "text", placeholder = "סיסמא", id = "password", required = "" } })
                            <br />
                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { type = "text", placeholder = "אישור סיסמא", id = "password", required = "" } })
                            <br />
                            @Html.EditorFor(model => model.CounsilSubject1, new { htmlAttributes = new { type = "text", placeholder = " תחום יעוץ 1", id = "username", required = "" } })
                            <br />
                            @Html.EditorFor(model => model.YearOfExprience1, new { htmlAttributes = new { type = "text", placeholder = " שנות נסיון 1", id = "username", required = "" } })
                            <br />
                            @Html.EditorFor(model => model.CounsilSubject2, new { htmlAttributes = new { type = "text", placeholder = " תחום יעוץ 2", id = "username", required = "" } })
                            <br />
                                               
                        </div>
                    </div>
                 
                    <h4>בחירת תחומי ייעוץ</h4>
                    <input name ="checkboxSelectCombo" id="checkboxSelectCombo">
                    <br />
                    <br/>
                    <div class="row file-buttons-consultRegister">    
                      
                        <input type="file" name="file1" id="upload" class="custom-file-input">
                        <br/>
                        <input type="file" name="file2" id="upload2" class="custom-file-input">
                    </div>
             
                        <div class="row">
                            <b>האם לקבל דיוור ממפ"י</b>
                            <input id="checkbox" name="check" type="checkbox" value="true" />
                        </div>
                        <div class="row right-buttons-consultRegister">
                            <input type="submit" class="" value="הרשם" }) />
                            <input type="button" value="חזור" onclick="location.href='@Url.Action("Login","account")'" }) />
                            <span style="color:red;">@TempData["Message"]</span>
                        </div>
                      

                }
            
                    </div>
           
      
</body>
</html>

