@model Consultants.Models.ConsultantsAccount

@{
    ViewBag.Title = "פרופיל חכם";
}

@if (Session["UserName"] != null)
{
    <h4>Hello @Session["UserName"].ToString()</h4>
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-responsive.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"> </script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>פרופיל חכם</title>




    <script>
        $('#textBoxB1utton').click(function () {
            $('.form-style-1').append(" <textarea name=textBox id=textarea" + textBoxCount + " class=field-long field-textarea> </textarea></div>");
            textBoxCount++;

            $(".textBoxBorder").draggable({ containment: '.range' });

        });
        
        $(function () {
            $('#textBoxButton').click(function () {
               
                var new_width = 100;
                var new_height = 200;
                var newElement$ = $('<div><textarea id="textarea"></textarea></div>')
                                                .width(new_width)
                                                .height(new_height)
                                                .draggable({
                                                    cancel: "text",
                                                    start: function () {
                                                        $('#textarea').focus();
                                                    },
                                                    stop: function () {
                                                        $('#textarea').focus();
                                                    }
                                                })
                                                .resizable()

                                                 .appendTo('.form-style-1');
            });

        });


    </script>


</head>
<body>

    <h1>פרופיל חכם</h1>
    <div class="container">
        <div class="row">
            <div class="col-lg-15">
                <input type="file" id="uploadme" />
                <input class="myButton" id="pictureButton" type="button" value="הוספת תמונה" />
                <input class="myButton" id="labelTextButton" type="button" value="הוסף תווית" />
                <input class="myButton" id="textBoxButton" type="button" value="תיבת טקסט" />
                <input class="myButton" id="saveButton" type="button" value="שמור" />
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-lg-15">
                <input id="consultantPhone" type="text" value="" />
                @Html.Label("נייד", new { style = "color:#000000" })
                <input id="consultantAdress" type="text" value="" />
                @Html.Label("כתובת", new { style = "color:#000000" })
                <input id="consultantLastName" type="text" value="" />
                @Html.Label("שם משפחה", new { style = "color:#000000" })
                <input id="consultantFirstName" type="text" value="" />
                @Html.Label("שם פרטי", new { style = "color:#000000" })
            </div>
        </div>
        <div class="row">
            <div class="col-lg-15">
                <input id="consultantCounsilSubject1" type="text" value="" />
                @Html.Label("תחום יעוץ 1", new { style = "color:#000000" })
                <input id="consultantEmail" type="text" value="" />
                @Html.Label("אימייל", new { style = "color:#000000" })
                <input id="consultantFax" type="text" value="" />
                @Html.Label("פקס", new { style = "color:#000000" })
                <input id="consultantHomePhone" type="text" value="" />
                @Html.Label("טלפון", new { style = "color:#000000" })
            </div>
        </div>
        <div class="row">
            <div class="col-lg-15">
                <input id="consultantYearOfExprience2" type="text" value="" />
                @Html.Label("שנות נסיון 2", new { style = "color:#000000" })
                <input id="consultantCounsilSubject2" type="text" value="" />
                @Html.Label("תחום יעוץ 2", new { style = "color:#000000" })
                <input id="consultantYearOfExprience1" type="text" value="" />
                @Html.Label("שנות נסיון 1", new { style = "color:#000000" })
            </div>
        </div>
        <br />
        <br />






        <div class="range">

            <section class="form-style-1">
                
              
            </section>

            @*Label*@<section class="form-style-2"> </section>

            @*Need to create for Consultants Table...*@ @*Label*@<section class="form-style-3"> </section>
        </div>














    </div>
</body>
</html>

