@model Consultants.Models.ConsultantsAccount

@{
    ViewBag.Title = "פרופיל חכם";
}

@if (Session["UserName"] != null)
{
    <h4>Hello @Session["UserName"].ToString()</h4>
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/javascript" href="~/Scripts/bootstrap.js" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"> </script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <title>פרופיל חכם</title>

    <script type="text/javascript">

        var countTextArea = 0;
        var textBox;
        var Label;
        var imageCount=0;
        var countLabel=0;
        var sizeTextBox = @Html.Raw(Json.Encode(ViewBag.size));
        var sizeLabel = @Html.Raw(Json.Encode(ViewBag.sizeLabel));
        var picArray=new Array();
        var dataPictures = new FormData();
        if(sizeTextBox == null)
        {
            var textBoxCount = 0;
        }
        var textBoxCount = sizeTextBox;
        if(sizeLabel==null)
        {
            var LabelCount =0;
        }
        var LabelCount = sizeLabel;

        function OnCreate()
        {

            var arrayTextBox = @Html.Raw(Json.Encode(ViewBag.textBoxList));
            var sizeTextBox = @Html.Raw(Json.Encode(ViewBag.size));
            var arrayLabel = @Html.Raw(Json.Encode(ViewBag.LabelList));
            var sizeLabel = @Html.Raw(Json.Encode(ViewBag.sizeLabel));
            var ConsultantInformation=@Html.Raw(Json.Encode(ViewBag.Consultant));

            document.getElementById("consultantFirstName").value = ConsultantInformation[0].FirstName;
            document.getElementById("consultantLastName").value = ConsultantInformation[0].LastName;
            document.getElementById("consultantEmail").value = ConsultantInformation[0].Email;
            document.getElementById("consultantPhone").value = ConsultantInformation[0].Phone;
            document.getElementById("consultantHomePhone").value = ConsultantInformation[0].HomePhone;
            document.getElementById("consultantFax").value = ConsultantInformation[0].Fax;
            document.getElementById("consultantAdress").value = ConsultantInformation[0].Adress;
            document.getElementById("consultantCounsilSubject1").value = ConsultantInformation[0].CounsilSubject1;
            document.getElementById("consultantCounsilSubject2").value = ConsultantInformation[0].CounsilSubject2;
            document.getElementById("consultantYearOfExprience1").value = ConsultantInformation[0].YearOfExprience1;
            document.getElementById("consultantYearOfExprience2").value = ConsultantInformation[0].YearOfExprience2;

            for(var i=0; i<sizeTextBox;i++)
            {

                $(".form-style-test").append("<div class=textDragger id=textBoxDragger" + i +" ><div class=closer></div><textarea  class=textBox id=textBoxTextArea" + i +"></textarea> </div>");
                var myTextArea = $("#textBoxTextArea" + i);
                var myDrager=$("#textBoxDragger" + i);
                myTextArea.width(arrayTextBox[i].Width);
                myTextArea.height(arrayTextBox[i].Height);
                myTextArea.val(arrayTextBox[i].Text);
                var left1=arrayTextBox[i].X;
                var top1=arrayTextBox[i].Y;
                myDrager.offset({ top: top1, left: left1 });

                $(".textDragger").draggable({containment: ".range",cancel:"textarea.textBox"});
            }


            for(var i=0; i<sizeLabel;i++)
            {
                $(".form-style-test").append("<div class=labelDragger id=labelDragger" + i +" ><div class=closer></div><textarea rows=1 class=labelBox id=labelTextArea" + i +"></textarea> </div>");
                var myLabel = $("#labelTextArea" + i);
                var myLabelDragger = $("#labelDragger" + i);
                myLabel.width(arrayLabel[i].Width);
                myLabel.val(arrayLabel[i].Text);
                var left1=arrayLabel[i].X;
                var top1=arrayLabel[i].Y;
                myLabelDragger.offset({ top: top1, left: left1 });

                $(".labelDragger").draggable({containment: ".range",cancel:"textarea.labelBox"});
            }
        }
        window.onload = OnCreate;
    </script>

    <script>
        //Function on lives

        $(document).on('keydown.myPlugin','.labelBox', function(e) {
            if (e.keyCode == 13) return false;
        });

        $(document).on('click', '.closer', function(e) {

            $(this).parent().remove();
        });


      
        $(function () {
        
            $('#pictureButton').click(function ()
            {
                $('#files').click();
             
            });

            //Create an image
            $("#files").change(function ()
            {
                if (this.files && this.files[0]) {
                    var reader = new FileReader();
                    reader.onload = imageIsLoaded;
                    reader.readAsDataURL(this.files[0]);
                    picArray.push(this.files[0]);
                    dataPictures.append("file" + x, files[0]);
                }
            });
            function imageIsLoaded(e)
            {                    
                
                $(".form-style-test").append("<div class=imageDragger id=imageDragger" + imageCount +"><div class=closer></div><img class=thumbnail id=myImage"+imageCount+" src=#  </> </div>");
                $(".imageDragger").draggable({containment: ".range"});
                $('#myImage'+imageCount).attr('src', e.target.result);
                $("#myImage"+imageCount).resizable({containment: ".range"});
                imageCount++;
            };     



            //create TextBox With Button
            $('#textBoxButton').click(function () {

                $(".form-style-test").append("<div class=textDragger id=textBoxDragger" + textBoxCount +"><div class=closer></div><textarea class=textBox id=textBoxTextArea" + textBoxCount +"></textarea> </div>");
                $(".textDragger").draggable({containment: ".range",cancel:"textarea.textBox"});
                textBoxCount++;
            });

            /* create Label With Button*/
            $('#labelTextButton').click(function () {

                $(".form-style-test").append("<div class=labelDragger id=labelDragger" + LabelCount +"><div class=closer></div><textarea class=labelBox id=labelTextArea" + LabelCount +"></textarea> </div>");
                $(".labelDragger").draggable({containment: ".range",cancel:"textarea.labelBox"});
                LabelCount++;
            });

            /*Saving Function*/
            $('#saveButton').click(function ()
            {
                var picIndex=0;
                var textBoxIndex = 0;
                var LabelIndex = 0;
                var JSONObjectPic=new Array();
                var JSONObject = new Array();
                var JSONObjectEdit = new Array();
                var finalTextBoxCount=0;
                var finalLabelBoxCount = 0;
                var finalPicturesCount=0;
                while (textBoxIndex < textBoxCount)
                {
                    var checkNull=document.getElementById("textBoxTextArea" + textBoxIndex);

                    if(checkNull!=null)
                    {
                        var textBoxObj = new Object();

                        finalTextBoxCount++;
                        textBoxObj.Width = $('#textBoxTextArea' + textBoxIndex).width();
                        textBoxObj.Height = $('#textBoxTextArea' + textBoxIndex).height();
                        textBoxObj.X = $('#textBoxDragger' + textBoxIndex).offset().left;
                        textBoxObj.Y = $('#textBoxDragger' + textBoxIndex).offset().top;
                        textBoxObj.Text = $('#textBoxTextArea' + textBoxIndex).val();
                        textBoxObj.Color = " ";

                        JSONObject.push(textBoxObj);
                    }

                    textBoxIndex++;
                }

                while (LabelIndex < LabelCount)
                {
                    var checkNull=document.getElementById("labelTextArea" + LabelIndex);

                    if(checkNull!=null)
                    {
                        var labelObj = new Object();

                        finalLabelBoxCount++;
                        labelObj.Width = $('#labelTextArea' + LabelIndex).width();
                        labelObj.Height = $('#labelTextArea' + LabelIndex).height();
                        labelObj.X = $('#labelDragger' + LabelIndex).offset().left;
                        labelObj.Y = $('#labelDragger' + LabelIndex).offset().top;
                        labelObj.Text = $('#labelTextArea' + LabelIndex).val();
                        JSONObjectEdit.push(labelObj);
                    }

                    LabelIndex++;
                }

                while (picIndex < imageCount)
                {
                    var checkNull = document.getElementById("myImage" + picIndex);

                    if (checkNull != null)
                    {
                        var picObj = new Object();

                        finalPicturesCount++;
                        picObj.name = picArray[picIndex].name;
                        picObj.type = picArray[picIndex].type;
                        picObj.lastModified = picArray[picIndex].lastModified;         
                        picObj.X = $('#imageDragger' + picIndex).offset().left;
                        picObj.Y = $('#imageDragger' + picIndex).offset().top;
                        picObj.Width = $('#myImage' + picIndex).width();
                        picObj.Height = $('#myImage' + picIndex).height();
                        picObj.file = picArray[picIndex];
                        dataPictures.append(picArray[picIndex]);
                        JSONObjectPic.push(picObj);
                    }

                    picIndex++;
                }


                
                picIndex = 0;
                textBoxIndex = 0;
                LabelIndex = 0;
                alert("Saved!");

                $.ajax({
                    url: "@Url.Action("SmartProfile", "Account")",
                    data: JSON.stringify({
                        _textbox: JSONObject,
                        _editbox: JSONObjectEdit,
                        _pictures: JSONObjectPic,
                        dataPictures:dataPictures,
                        picturesCount: finalPicturesCount,
                        textBoxCount: finalTextBoxCount,
                        editBoxCount: finalLabelBoxCount
                    }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    type: "post",
                    cache: false,
                });
            });

        });

    </script>


</head>

<body>
    <h1>פרופיל חכם</h1>
    <div class="container">
        <div class="row">
            <div class="col-lg-15">
                <input type="file" accept="image/*" id="files" multiple="multiple" />
                <input class="myButton" id="pictureButton" type="button" value="הוספת תמונה" />
                <input class="myButton" id="labelTextButton" type="button" value="הוסף תווית" />
                <input class="myButton" id="textBoxButton" type="button" value="תיבת טקסט" />
                <input class="myButton" id="saveButton" type="button" value="שמור" />
            </div>
        </div>

        <br />
        <br />

        <div class="row">
            <div class="col-lg-15">
                <input id="consultantPhone" type="text" value="" />
                @Html.Label("נייד", new { style = "color:#000000" })
                <input id="consultantAdress" type="text" value="" />
                @Html.Label("כתובת", new { style = "color:#000000" })
                <input id="consultantLastName" type="text" value="" />
                @Html.Label("שם משפחה", new { style = "color:#000000" })
                <input id="consultantFirstName" type="text" value="" />
                @Html.Label("שם פרטי", new { style = "color:#000000" })
            </div>
        </div>

        <div class="row">
            <div class="col-lg-15">
                <input id="consultantCounsilSubject1" type="text" value="" />
                @Html.Label("תחום יעוץ 1", new { style = "color:#000000" })
                <input id="consultantEmail" type="text" value="" />
                @Html.Label("אימייל", new { style = "color:#000000" })
                <input id="consultantFax" type="text" value="" />
                @Html.Label("פקס", new { style = "color:#000000" })
                <input id="consultantHomePhone" type="text" value="" />
                @Html.Label("טלפון", new { style = "color:#000000" })
            </div>
        </div>
        <div class="row">
            <div class="col-lg-15">
                <input id="consultantYearOfExprience2" type="text" value="" />
                @Html.Label("שנות נסיון 2", new { style = "color:#000000" })
                <input id="consultantCounsilSubject2" type="text" value="" />
                @Html.Label("תחום יעוץ 2", new { style = "color:#000000" })
                <input id="consultantYearOfExprience1" type="text" value="" />
                @Html.Label("שנות נסיון 1", new { style = "color:#000000" })
            </div>
        </div>
        <br />
        <br />

        <div class="range">
            <output id="result"></output>
            <section class="form-style-test"></section>

        </div>
    </div>


</body>
</html>
