@model Consultants.Models.ConsultantsAccount

@{
    ViewBag.Title = "פרופיל חכם";
}

@if (Session["UserName"] != null)
{
    <h4>Hello @Session["UserName"].ToString()</h4>
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-responsive.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"> </script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>פרופיל חכם</title>


    <script type="text/javascript">
        var countTextArea = 0;
        var textBox;
        var Label;
        var countLabel=0;

        function OnCreate() {
            $(document).ready(function () {

                var array = @Html.Raw(Json.Encode(ViewBag.textBoxList));
                var sizeTextBox = @Html.Raw(Json.Encode(ViewBag.size));
                var arrayLabel = @Html.Raw(Json.Encode(ViewBag.LabelList));
                var sizeLabel = @Html.Raw(Json.Encode(ViewBag.sizeLabel));
                var ConsultantInformation=@Html.Raw(Json.Encode(ViewBag.Consultant));

                document.getElementById("consultantFirstName").value = ConsultantInformation[0].FirstName;
                document.getElementById("consultantLastName").value = ConsultantInformation[0].LastName;
                document.getElementById("consultantEmail").value = ConsultantInformation[0].Email;
                document.getElementById("consultantPhone").value = ConsultantInformation[0].Phone;
                document.getElementById("consultantFax").value = ConsultantInformation[0].Fax;
                document.getElementById("consultantAdress").value = ConsultantInformation[0].Adress;
                document.getElementById("consultantCounsilSubject1").value = ConsultantInformation[0].CounsilSubject1;
                document.getElementById("consultantCounsilSubject2").value = ConsultantInformation[0].CounsilSubject2;
                document.getElementById("consultantYearOfExprience1").value = ConsultantInformation[0].YearOfExprience1;
                document.getElementById("consultantYearOfExprience2").value = ConsultantInformation[0].YearOfExprience2;





                for(var i=0; i<sizeTextBox;i++)
                {
                    var newElement$ = $("<div><textarea id=textarea" + countTextArea +"></textarea></div>")
                                            
                                            .draggable({
                                                cancel: "",
                                                containment: ".range",
                                                cursor: "move",

                                                start: function () {
                                                    $("#textarea"+countTextArea).focus();
                                                },
                                                stop: function () {
                                                    $("#textarea"+countTextArea).focus();
                                                }
                                            })
                                            .resizable({
                                                containment: ".range",
                                            })
 
                                             .appendTo('.form-style-test');
                    textBox = document.getElementById("textarea" + countTextArea);
                    textBox.style.width = array[i].Width+"px";
                    textBox.style.height = array[i].Height+"px";
                    textBox.style.position= "absolute";
                    textBox.style.left = (array[i].X)+"px"; //-265
                    textBox.style.top = (array[i].Y)+"px"; // -231  
                    textBox.textContent = array[i].Text;
                    countTextArea++;
                }

                //for(var i=0; i<sizeLabel;i++)
                //{
                 
                //    Label = document.getElementById("labelNo" + countLabel);
                //    Label.style.width = arrayLabel[i].Width+"px";
                //    Label.style.height = arrayLabel[i].Height+"px";

                //    Label.style.left = arrayLabel[i].X+"px";// not working
                //    Label.style.top = arrayLabel[i].Y+"px" ; //not working
                //    Label.style.content = arrayLabel[i].Text;// not working
                //    countLabel++;
                //}





            });
        }
        window.onload = OnCreate;



    </script>








    <script>
        
        var sizeTextBox = @Html.Raw(Json.Encode(ViewBag.size));
        var sizeLabel = @Html.Raw(Json.Encode(ViewBag.sizeLabel));

        if(sizeTextBox==null)
        {
            var textBoxCount =0;
        }
        var textBoxCount = sizeTextBox;
        if(sizeLabel==null)
        {
            var LabelCount =0;
        }
        var LabelCount = sizeLabel;
    $('input[type="text"], textarea').each(function () {
        $(this).attr('readonly', 'readonly');
    });
    $(function () {
        //create TextBox With Button
        $('#textBoxButton').click(function () {
           
            var newElement$ = $("<div><textarea id=textarea" +textBoxCount+"></textarea></div>")
                                            
                                            .draggable({
                                                cancel: "",
                                                containment: ".range",
                                                cursor: "move",

                                                start: function () {
                                                    $("#textarea"+textBoxCount).focus();
                                                },
                                                stop: function () {
                                                    $("#textarea"+textBoxCount).focus();
                                                }
                                            })
                                            .resizable({
                                                containment: ".range",
                                            })
 
                                             .appendTo('.form-style-test');
            textBoxCount++;
        });
        /* create Label With Button*/
        $('#labelTextButton').click(function () {
           



        });




        /*Saving Function*/
        $('#saveButton').click(function () {

            var textBoxIndex = 0;
            var LabelIndex = 0;
            var JSONObject = new Array();
            var JSONObjectEdit = new Array();

            while (textBoxIndex < textBoxCount)
            {
                var obj = new Object();


                obj.Width = $('#textarea' + textBoxIndex).width();
                obj.Height = $('#textarea' + textBoxIndex).height();
                obj.X = $('#textarea' + textBoxIndex).offset().left;
                obj.Y = $('#textarea' + textBoxIndex).offset().top;
                obj.Text = $('#textarea' + textBoxIndex).val();
                obj.Color = " ";

                JSONObject.push(obj);
                textBoxIndex++;

            }

            while (LabelIndex < LabelCount)
            {

                var objEdit = new Object();
                objEdit.Width = $('#' + LabelIndex).width();
                objEdit.Height = $('#' + LabelIndex).height();
                objEdit.X = $('#' + LabelIndex).offset().left;
                objEdit.Y = $('#' + LabelIndex).offset().top;
                objEdit.Text = $('#' + LabelIndex).val();
                JSONObjectEdit.push(objEdit);
                LabelIndex++;
            }
            textBoxIndex = 0;
            LabelIndex = 0;
            alert("Saved!");
            $.ajax({
                url: "@Url.Action("SmartProfile", "Account")",
                data: JSON.stringify({
                    _textbox: JSONObject,
                    _editbox: JSONObjectEdit,
                    textBoxCount: textBoxCount,
                    editBoxCount: LabelCount
                }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            type: "post",
            cache: false,
            });
    });
      
    });

    </script>


</head>
<body>

    <h1>פרופיל חכם</h1>
    <div class="container">
        <div class="row">
            <div class="col-lg-15">
                <input type="file" id="uploadme" />
                <input class="myButton" id="pictureButton" type="button" value="הוספת תמונה" />
                <input class="myButton" id="labelTextButton" type="button" value="הוסף תווית" />
                <input class="myButton" id="textBoxButton" type="button" value="תיבת טקסט" />
                <input class="myButton" id="saveButton" type="button" value="שמור" />
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-lg-15">
                <input id="consultantPhone" type="text" value="" />
                @Html.Label("נייד", new { style = "color:#000000" })
                <input id="consultantAdress" type="text" value="" />
                @Html.Label("כתובת", new { style = "color:#000000" })
                <input id="consultantLastName" type="text" value="" />
                @Html.Label("שם משפחה", new { style = "color:#000000" })
                <input id="consultantFirstName" type="text" value="" />
                @Html.Label("שם פרטי", new { style = "color:#000000" })
            </div>
        </div>
        <div class="row">
            <div class="col-lg-15">
                <input id="consultantCounsilSubject1" type="text" value="" />
                @Html.Label("תחום יעוץ 1", new { style = "color:#000000" })
                <input id="consultantEmail" type="text" value="" />
                @Html.Label("אימייל", new { style = "color:#000000" })
                <input id="consultantFax" type="text" value="" />
                @Html.Label("פקס", new { style = "color:#000000" })
                <input id="consultantHomePhone" type="text" value="" />
                @Html.Label("טלפון", new { style = "color:#000000" })
            </div>
        </div>
        <div class="row">
            <div class="col-lg-15">
                <input id="consultantYearOfExprience2" type="text" value="" />
                @Html.Label("שנות נסיון 2", new { style = "color:#000000" })
                <input id="consultantCounsilSubject2" type="text" value="" />
                @Html.Label("תחום יעוץ 2", new { style = "color:#000000" })
                <input id="consultantYearOfExprience1" type="text" value="" />
                @Html.Label("שנות נסיון 1", new { style = "color:#000000" })
            </div>
        </div>
        <br />
        <br />






        <div class="range">

            <section class="form-style-test">
            </section>

            @*Label*@<section class="form-style-2"> </section>

            @*Need to create for Consultants Table...*@ @*Label*@<section class="form-style-3"> </section>
        </div>














    </div>
</body>
</html>

